.about_image {
   user-select: none;
   border-radius: 25px;
   filter: brightness(70%);
   height: 223px;
   width: 100%;
   object-fit: cover;

   display: block;
   margin: auto;
}

@media screen and (min-width: 992px) {
   .about_collapses-wrapper {
      max-width: 80%;
      margin: auto;
   }
}
