.rating_wrapper {
   display: flex;
   flex-wrap: wrap;
}

.rating_wrapper svg {
   height: 15px;
   width: 20px;
}

@media screen and (min-width: 992px) {
   .rating_wrapper svg {
      height: 30px;
      width: 40px;
   }
}
