.logement_container {
    padding: 0 20px 20px 20px;
}

.logement_carousel {
    border-radius: 10px;
    width: 335px;
    height: 255px;
    object-fit: cover;
}

.logement_title,
.logement_location,
.host_name {
    color: var(--theme-color);
}

.logement_title {
    margin-top: 5px;
    font-size: 18px;
    line-height: 1.4em;
}

.logement_location {
    font-size: 14px;
    line-height: 1.4em;
}

.host_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.host_wrapper p {
    width: min-content;
    text-align: right;
}

.host_wrapper img {
    border-radius: 50%;
    width: 32px;
    margin-left: 10px;
}