.carrousel_content {
   user-select: none;
   width: 100%;
   height: 255px;
   border-radius: 10px;

   position: relative;
}

.carrousel_counter {
   user-select: none;
   color: white;
   position: absolute;
   font-size: 14px;
   bottom: 6%;
   /* permet de centrer l'élément absolute */
   left: 50%;
   transform: translate(-50%, 0);
}

.carrousel_previous-arrow {
   top: 50%;
}
.carrousel_next-arrow {
   right: 0;
}

.carrousel_previous-arrow,
.carrousel_next-arrow {
   user-select: none;
   cursor: pointer;
   top: 50%;
   position: absolute;
   width: 20px;
   height: 12px;
}

.carrousel_dots-container {
   position: absolute;
   bottom: 6%;
   /* permet de centrer l'élément absolute */
   left: 50%;
   transform: translate(-50%, 0);
}

.carrousel_counter {
   display: none;
}

@media screen and (min-width: 992px) {
   .carrousel_content {
      height: 415px;
   }
   .carrousel_previous-arrow,
   .carrousel_next-arrow {
      width: 80px;
      height: 46px;
      transition: 0.2s;
   }
   .carrousel_previous-arrow:hover,
   .carrousel_next-arrow:hover {
      height: 50px;
      width: 84px;
      transition: 0.2s;
   }
   .carrousel_counter {
      display: block;
      font-size: 18px;
   }
   .carrousel_dots {
      display: none;
   }
}

.active-bullet {
   color: var(--theme-color);
}
