header {
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header_logo {
   width: 136px;
}

.header_nav ul {
   display: flex;
   align-items: center;
   gap: 15px;
}

header .header_nav-link {
   text-transform: uppercase;
   font-weight: 500;
   font-size: 12px;
   color: var(--theme-color);
   text-decoration: none;
}

header .header_nav-link:hover,
header .active {
   text-decoration: underline;
}

@media screen and (min-width: 992px) {
   header {
      padding: 40px 100px;
      transition: 0.3s;
   }
   .header_logo {
      width: 200px;
   }
   .header_nav ul {
      gap: 60px;
   }
   header .header_nav-link {
      text-transform: none;
      font-size: 24px;
   }

   /* soulignage animé/statique des éléments du menu */
   header .header_nav-link {
      position: relative;
   }
   header .header_nav-link:hover,
   header .active {
      text-decoration: none;
   }
   header .header_nav-link.active::before {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
   }
   header li .header_nav-link:before {
      content: '';
      position: absolute;
      z-index: -2;
      left: 0;
      right: 100%;
      bottom: 0;
      background: var(--theme-color); /*** couleur du soulignage ***/
      height: 3px; /*** taille du soulignage ***/
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
   }
   header li .header_nav-link:hover:before {
      right: 0;
   }
}
